@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Variables globales */
:root {
    --color-primario: #ECDFCC;
    --color-secundario: #1E201E;
    --color-terciario: #3C3D37;
    --color-cuaternario: #697565;
    --color-quinto: #FF0000;
    --color-fuente-letra: #F6F6F6;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

/* Estilos globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

/* Estilos de la cabecera */
.cabecera-pagina {
    height: 10%;
    padding: 1.5rem;
    display: flex;
    background-color: var(--color-secundario);
}

.cabecera-menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.menu-link {
    font-family: var(--fuente-montserrat);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-fuente-letra);
    text-decoration: none;
    border: 2px solid var(--color-terciario);
    border-radius: 0.5rem;
    width: 10rem;
    text-align: center;
    padding: 0.625rem 0.3125rem;
    display: flex;
    gap: 0.3125rem;
    justify-content: center;
    align-items: center;
}

.menu-link:hover {
    background-color: var(--color-terciario);
}

/* Estilos del main container */
.container-main {
    height: 80%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.125rem;
}

.container-section {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    background-color: var(--color-primario);
}

.container-entrada {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.input-texto-entrada {
    height: 100%;
    user-select: text;
    resize: none;
    border-radius: 0.9375rem;
    font-family: var(--fuente-montserrat);
    font-size: 1.60rem;
    padding: 15px;
    background-color: var(--color-fuente-letra);
}

#exclamacion {
    background-color: var(--color-terciario);
    border-radius: 100%;
    padding: 0.0625rem;
    color: #000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
}

.container-acciones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-encriptar-1,
.btn-desencriptar-2,
.btn-limpiar-3 {
    width: 290px;
    height: 4.1875rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: none;
    color: var(--color-fuente-letra);
    font-family: var(--fuente-montserrat);
    font-size: 1.125rem;
}

.btn-encriptar-1 {
    background-color: var(--color-cuaternario);
}

.btn-encriptar-1:hover {
    background-color: var(--color-primario);
    color: #000000;
    border: 1px solid #000000;
}

.btn-desencriptar-2 {
    background-color: var(--color-terciario);
}

.btn-desencriptar-2:hover {
    background-color: var(--color-primario);
    color: #000000;
    border: 1px solid #000000;
}

.btn-limpiar-3 {
    background-color: var(--color-quinto);
}

.btn-limpiar-3:hover {
    background-color: var(--color-primario);
    color: #000000;
    border: 1px solid #000000;
}

/* Estilos de la salida */
.output-texto-salida {
    width: 25rem;
    height: 100%;
    border-radius: 0.9375rem;
    font-family: var(--fuente-montserrat);
    font-size: 2rem;
    background-color: var(--color-fuente-letra);
    border: 0.5px solid var(--color-terciario);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    justify-content: space-evenly;
    gap: 1.25rem;
    color: var(--color-secundario);
}

.palabra-encriptada {
    font-size: 1.60rem;
    padding: 10px;
}


.img-output {
    width: 14.75rem;
    height: 11.0625rem;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
}

.title-output {
    font-family: var(--fuente-krona);
    font-size: 1.375rem;
    text-align: center;
}

.parrafo-output {
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    text-align: center;
}

.btn-copiar-output {
    margin-top: auto;
    margin-bottom: 15px;
    width: 21rem;
    height: 4.1875rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    display: none;
    font-family: var(--fuente-montserrat);
    font-size: 1.125rem;
    background-color: var(--color-primario);
    border: 1px solid var(--color-terciario);
}

.btn-copiar-output:hover {
    background-color: var(--color-fuente-letra);
}

/* Estilos del pie de página */
.pie-de-pagina {
    height: 10%;
    padding: 1.5rem;
    display: flex;
    background-color: var(--color-secundario);
    color: var(--color-fuente-letra);
    justify-content: space-between;
    align-items: center;
}

.pie-pagina-link {
    font-family: var(--fuente-montserrat);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-fuente-letra);
    text-decoration: none;
    border: 2px solid var(--color-terciario);
    border-radius: 0.5rem;
    width: 10rem;
    text-align: center;
    padding: 0.625rem 0.3125rem;
    display: flex;
    gap: 0.3125rem;
    justify-content: center;
    align-items: center;
}

.pie-pagina-link:hover {
    background-color: var(--color-terciario);
}

.parrafo-parrafo {
    font-family: var(--fuente-montserrat);
    font-size: 1.1rem;
    font-weight: 600;
}

.hidden {
    display: none;
}

.instrucciones {
    width: 100%;
    height: 100%;
    background-color: var(--color-fuente-letra);
    color: #000000;
    border-radius: 20px;
    border: 2px solid var(--color-secundario);
}

.titulo-instrucciones {
    font-family: var(--fuente-krona);
    text-align: center;
    font-size: 3rem;
}

.parrafo-instrucciones {
    font-family: var(--fuente-krona);
    font-size: 1rem;
    font-weight: 400;
    padding: 9px;
}

@media (max-width: 1200px) {
    .container-main {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .container-section {
        flex-direction: column;
    }

    .container-entrada,
    .container-resultado {
        width: 100%;
        height: auto;
    }

    .input-texto-entrada {
        font-size: 1 .5rem;
        height: 20rem;
        resize: vertical;
    }

    .container-acciones {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .btn-encriptar-1,
    .btn-desencriptar-2,
    .btn-limpiar-3 {
        width: 100%;
        font-size: 0.875rem;
        height: 3rem;
        padding: 0.25rem 1rem;
    }

    .output-texto-salida {
        width: 100%;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;

    }

    .img-output {
        width: 80%;
        height: auto;
        max-width: 300px;
    }

    .title-output {
        font-size: 1.125rem;
    }

    .parrafo-output {
        font-size: 0.875rem;
    }

    .btn-copiar-output {
        display: none;
        width: 100%;
        font-size: 0.875rem;
        height: 3rem;
        padding: 0.25rem 1rem;
        margin-top: 1rem;
    }

    .titulo-instrucciones {
        font-size: 1.5rem;
    }

    .parrafo-instrucciones {
        font-size: 1rem;
    }

}

@media (max-width: 768px) {
    .cabecera-pagina {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem;
    }

    .cabecera-menu {
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        justify-content: center;
    }

    .menu-link {
        width: auto;
        font-size: 0.875rem;
    }

    .pie-de-pagina {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        gap: 1rem;
    }

    .pie-pagina-link {
        width: auto;
        margin: 0.5rem;
    }
}